<div class="container">
    <section class="contacts-section section">
        <div class="contacts-box">
            <h2 class="contacts-title">FRESH HARVEST BOX HAS GOT YOU COVERED</h2>
            <ul class="contacts-list list">
                <li>
                    <picture>
                        <!-- Desktop screen -->
                        <source media="(min-width: 1255px)"
                            srcset="./img/contacts/img.contacts.desktop1@1x.png 1x, ./img/contacts/img.contacts.desktop1@2x.png 2x"
                            type="image/jpg">
                        <!-- Tablet screen -->
                        <source media="(min-width: 768px)"
                            srcset="./img/contacts/img.contacts.tablet1@1x.png 1x, ./img/contacts/img.contacts.tablet1@2x.png 2x"
                            type="image/jpg">
                        <!-- Phone screen -->
                        <source media="(max-width: 767px)"
                            srcset="./img/contacts/img.contacts.mobile@1x.png 1x, ./img/contacts/img.contacts.mobile@2x.png 2x"
                            type="image/jpg">
                        <img src="./img/contacts/img.contacts.mobile@1x.png" alt="Melon image">
                    </picture>
                </li>
                <li class="contacts-image">
                    <picture>
                        <!-- Desktop screen -->
                        <source media="(min-width: 1255px)"
                            srcset="./img/contacts/img.contacts.desktop2@1x.png 1x, ./img/contacts/img.contacts.desktop2@2x.png 2x"
                            type="image/jpg">
                        <!-- Tablet screen -->
                        <source media="(min-width: 768px)"
                            srcset="./img/contacts/img.contacts.tablet2@1x.png 1x, ./img/contacts/img.contacts.tablet2@2x.png 2x"
                            type="image/jpg">
                        <img src="./img/contacts/img.contacts.tablet2@1x.png" alt="Blueberry image">
                    </picture>
                </li>
            </ul>
        </div>
        <p class="contacts-text">Our boxes are packed with delicious, nutritious fruits and vegetables, perfect for
            anyone looking to eat healthier or support local farmers. Order your box today and start enjoying the best
            that nature has to offer!</p>
        <!-- CONTACTS FORM -->
        <form class="contacts-form" autocomplete="off">
            <div class="contacts-form-box">
                <input type="email" name="comtacts-email" class="contacts-input" placeholder="Enter email..." required
                    minlength="2">
                <button type="submit" class="contacts-button js-open-modal" data-modal="2">Send</button>
            </div>
        </form>
    </section>
</div>