<footer class="container footer-container section">
  <div class="footer-nav-block">
    <div class="footer-logo-content">
      <picture>
        <!-- Tablet and Desktop screen  -->
        <source
          media="(min-width: 768px)"
          srcset="
            ./img/footer/image-footer.jpg    1x,
            ./img/footer/image-footer@2x.jpg 2x
          "
          type="image/jpg"
        />
        <!-- Mobile screen -->
        <source
          media="(max-width: 767px)"
          srcset="
            ./img/footer/image-footer-mob.jpg    1x,
            ./img/footer/image-footer-mob@2x.jpg 2x
          "
          type="image/jpg"
        />
        <img
          src="./img/image-footer.jpg"
          class="footer-img"
          alt="girl with bananas"
          width="349"
          height="179"
        />
      </picture>

      <a href="" class="link logo">
        <svg class="footer-icon-logo" width="16" height="16">
          <use href="./img/icons/icons.svg#icon-logo"></use>
        </svg>
        <span class="footer-logo-text">fresh harvest box</span>
      </a>
    </div>
    <ul class="list footer-list">
      <li class="footer-list-item"><a href="">How It Works</a></li>
      <li class="footer-list-item"><a href="">Fruits</a></li>
      <li class="footer-list-item"><a href="">Contacts</a></li>
    </ul>
  </div>

  <div class="footer-contacts-block">
    <ul class="list footer-list-icons">
      <li class="footer-icons-item">
        <a href="" class="footer-socmedia-link">
          <svg class="footer-icon" width="24" height="24">
            <use href="./img/icons/icons.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li class="footer-icons-item">
        <a href="" class="footer-socmedia-link">
          <svg class="footer-icon" width="24" height="24">
            <use href="./img/icons/icons.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="footer-icons-item">
        <a href="" class="footer-socmedia-link">
          <svg class="footer-icon" width="24" height="24">
            <use href="./img/icons/icons.svg#icon-youtube"></use>
          </svg>
        </a>
      </li>
    </ul>
    <address class="footer-address">
      <ul class="footer-address-link">
        <li>
          <a href="tel:+380684439426">+380 (68) 443-94-26</a>
        </li>
        <li>
          <p>
            1678 S. Pioneer Road <br />
            Salt Lake City <br />
            UT 84104
          </p>
        </li>
      </ul>
    </address>
  </div>
</footer>
