<section class="section">
    <div class="container">
        <h2 class="section-title">oRGANIC fRUITS</h2>
        <p class="section-desc">
            Our organic fruits are hand-picked from local farms and delivered straight to your doorstep, ensuring
            that
            you get the
            freshest and most nutritious produce possible. We offer a wide selection of organic fruits grown without
            the
            use of
            harmful pesticides or chemicals.
        </p>

        <ul class="card-set product-list list">
            <li class="card-set-item card strawberry">
                <p class="card-title">Strawberry</p>
                <p class="card-uppertitle">Plant</p>
                <img class="card-img" src="../img/fruits/img-1.png" alt="Strawberry" width="295" height="275" />
                <div class="card-price-box">
                    <p class="card-price">100 UAH <b>&#824;</b> kg</p>
                </div>
            </li>
            <li class="card-set-item card banana">
                <p class="card-title">Banana</p>
                <p class="card-uppertitle">Plant</p>
                <img class="card-img" src="../img/fruits/img-2.png" alt="Banana" width="295" height="271" />
                <div class="card-price-box">
                    <p class="card-price">80 UAH <b>&#824;</b> kg</p>
                </div>
            </li>
            <li class="card-set-item card watermelon">
                <p class="card-title">Watermelon</p>
                <p class="card-uppertitle">Plant</p>
                <img class="card-img" src="../img/fruits/img-3.png" alt="Watermelon" width="295" height="276" />
                <div class="card-price-box">
                    <p class="card-price">40 UAH <b>&#824;</b> kg</p>
                </div>
            </li>
            <li class="card-set-item card lime">
                <p class="card-title">Lime</p>
                <p class="card-uppertitle">Plant</p>
                <img class="card-img" src="../img/fruits/img-4.png" alt="Lime" width="295" height="276" />
                <div class="card-price-box">
                    <p class="card-price">60 UAH <b>&#824;</b> kg</p>
                </div>
            </li>
            <li class="card-set-item card apple">
                <p class="card-title">Apple</p>
                <p class="card-uppertitle">Plant</p>
                <img class="card-img" src="../img/fruits/img-5.png" alt="Apple" width="295" height="276" />
                <div class="card-price-box">
                    <p class="card-price">50 UAH <b>&#824;</b> kg</p>
                </div>
            </li>
            <li class="card-set-item card peach">
                <p class="card-title">Peach</p>
                <p class="card-uppertitle">Plant</p>
                <img class="card-img" src="../img/fruits/img-6.png" alt="Peach" width="295" height="276" />
                <div class="card-price-box">
                    <p class="card-price">80 UAH <b>&#824;</b> kg</p>
                </div>
            </li>
            <li class="card-set-item card plums">
                <p class="card-title">Plums</p>
                <p class="card-uppertitle">Plant</p>
                <img class="card-img" src="../img/fruits/img-7.png" alt="Plums" width="295" height="276" />
                <div class="card-price-box">
                    <p class="card-price">40 UAH <b>&#824;</b> kg</p>
                </div>
            </li>
            <li class="card-set-item card orange">
                <p class="card-title">Orange</p>
                <p class="card-uppertitle">Plant</p>
                <img class="card-img" src="../img/fruits/img-8.png" alt="Orange" width="295" height="276" />
                <div class="card-price-box">
                    <p class="card-price">60 UAH <b>&#824;</b> kg</p>
                </div>
            </li>
            <li class="card-set-item card kiwi">
                <p class="card-title">Kiwi</p>
                <p class="card-uppertitle">Plant</p>
                <img class="card-img" src="../img/fruits/img-9.png" alt="Kiwi" width="295" height="276" />
                <div class="card-price-box">
                    <p class="card-price">90 UAH <b>&#824;</b> kg</p>
                </div>
            </li>
        </ul>

        <button class="fruits-btn btn" type="button">
            <svg class="fruits-btn-icon" width="14" height="14">
                <use href="../img/icons.svg#icon-btn"></use>
            </svg>
            <span class="fruits-btn-txt">oRDER</span>
        </button>
    </div>
</section>