<div class="menu-container" id="mobile-menu" data-menu>
  <ul class="mobile-menu-list list">
    <li class="mobile-menu-item">
      <a href="#work-it" class="mobile-menu-link link">How It Works</a>
    </li>
    <li class="mobile-menu-item">
      <a href="#fruits" class="mobile-menu-link link">Fruits</a>
    </li>
    <li class="mobile-menu-item">
      <a href="#contacts" class="mobile-menu-link link">Contacts</a>
    </li>
  </ul>
  <a href="#fruits" class="mobile-menu-icon-link"
    ><svg class="mobile-menu-icon" width="24" height="24">
      <use href="./img/icons/icons.svg#icon-basket"></use>
    </svg>
  </a>
</div>
