<div class="backdrop-thank-you overlay js-overlay-modal">
  <div class="window-thank-you modal" data-modal="2">
    <picture>
      <source
        srcset="
          ./img/opt-img/pop-up/raspberries-thank-you-mob-w207@1x.png 1x,
          ./img/opt-img/pop-up/raspberries-thank-you-mob-w207@2x.png 2x
        "
        media="(max-width: 767px)"
      />

      <source
        srcset="
          ./img/opt-img/pop-up/raspberries-thank-you-desk-tabl-w278@1x.png 1x,
          ./img/opt-img/pop-up/raspberries-thank-you-desk-tabl-w278@2x.png 2x
        "
        media="(min-width: 768px)"
      />

      <img
        src="./img/opt-img/pop-up/raspberries-thank-you-mob-w207@1x.png"
        alt="raspberries"
        class="img-thank-you"
      />
    </picture>

    <div class="text-box-thank-you">
      <h2 class="title-thank-you">tHANK YOU</h2>
      <p class="prg-thank-you">
        Thank you for your order! Our team is preparing your box with fresh,
        delicious fruits and vegetables, and we'll deliver it straight to your
        doorstep. We appreciate your business and look forward to providing you
        with the best possible experience!
      </p>
    </div>
    <button class="btn-thank-you js-modal-close" type="button">
      <svg class="icon-btn">
        <use href="./img/icons/icons.svg#icon-window-close"></use>
      </svg>
    </button>
  </div>
</div>
