/**
  |============================
  | Animation
  |============================
*/

/* Title */
@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }

  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }

  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

.hero-container {
  margin-top: 60px;
  padding-top: 102px;
}

@media screen and (min-width: 375px) and(max-width:767px) {
  .hero-container {
    width: 375px;
  }
}

.background {
  position: relative;
  max-width: 335px;
  height: 509px;
  margin: auto;
  margin-bottom: 71px;
}

@media screen and (min-width: 768px) {
  .background {
    max-width: 452px;
    height: 702px;
    margin-bottom: 79px;
  }

  .hero-photo {
    width: 486px;
    height: 742px;
  }
}

.dec-straw {
  position: absolute;
  top: -10%;
  left: 79%;
}

.dec-babnan {
  position: absolute;
  top: 2%;
  left: -4%;
  transform: rotate(20deg);
  z-index: 1;
}

@media only screen and (min-width: 768px) {
  .dec-babnan {
    top: 11%;
    left: -31%;
    width: 132px;
    height: 90px;
  }

  .dec-straw {
    top: -10%;
    left: 104%;
    width: 108px;
    height: 108px;
  }
}

@media only screen and (min-width: 1280px) {
  .dec-babnan {
    top: 11%;
    left: -34%;
    width: 183.21px;
    height: 124.61px;
    transform: rotate(20deg);
    z-index: 0;
  }

  .dec-straw {
    top: -10%;
    left: 104%;
    width: 120px;
    height: 120px;
  }
}

/* url(../img/hero/imagebananas-background-mob@1.png),
    url(../img/hero/imagestrawberry-background-mob@1.png) 
*/

.hero-text {
  position: absolute;
  top: -10%;
  text-transform: uppercase;
  text-align: center;

  font-weight: 500;
  font-size: 28px;
  line-height: 1;
  letter-spacing: -0.04em;
  color: #ffffff;

  text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);

  -webkit-animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

@media screen and (min-width: 768px) {
  .hero-text {
    width: 704px;
    font-size: 50px;
    line-height: 1.1;
    left: -28%;
    top: -7%;
  }
}

@media screen and (min-width: 1280px) {
  .hero-text {
    width: 898px;
    font-size: 64px;
    line-height: 1;
    left: -50%;
    top: -8%;
  }
}

.hero-btn {
  position: absolute;
  left: 38%;
  top: 93%;
  width: 80px;
  height: 80px;
  border: 0;
  padding: 0;

  color: #ae1332;
  background-color: #ffffff;
  border-radius: 50%;
  border-color: transparent;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .hero-btn {
    width: 114px;
    height: 114px;
  }
}

.hero-btn:hover,
.hero-btn:focus {
  color: #a4cb66;
}

.hero-btn-txt {
  display: block;

  font-weight: 500;
  font-size: 20px;
  line-height: 1;
  letter-spacing: -0.04em;
  text-transform: uppercase;

  color: currentColor;

  text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
  transform: rotate(-14deg);

  transition: color var(--anim-active-txt);
}

@media screen and (min-width: 768px) {
  .hero-btn-txt {
    font-size: 28px;
    line-height: 1;
  }
}

.hero-btn-txt:hover,
.hero-btn-txt:focus {
  color: currentColor;
}

.hero-cards {
  margin: auto;
}

@media only screen and (min-width: 768px) {
  .hero-cards {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.card-text {
  width: 279px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  margin: auto;
  margin-bottom: 44px;

  display: flex;
  align-items: center;
  letter-spacing: -0.04em;

  color: #ffffff;

  text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
}

.top-card {
  background-color: #a4cb66;
  max-width: 249px;
  height: 387px;
  border-radius: 500px;
  padding: 28px 25px 40px;
  margin: auto;
}

.top-card-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  align-items: center;
  text-align: center;
  letter-spacing: -0.04em;
  color: #ffffff;
  text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
  margin-bottom: 61px;
}

.top-card-text.yellow {
  margin-bottom: 19px;
}

.hero-imglow {
  margin-bottom: 17px;
}

.hero-img {
  display: block;
  margin: auto;
}

.wrap-cards {
  margin-bottom: 44px;
}

.tag-list {
  display: flex;
  flex-direction: column;
  gap: 44px;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  align-content: center;
  justify-content: center;
  padding-left: 0;
}

.low-card-text {
  width: 155px;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  /* display: flex; */
  /* align-items: center; */
  text-align: center;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: #ffffff;
  text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
  margin: auto;
}

@media only screen and (min-width: 768px) {
  .hero-cards {
    justify-content: space-between;
  }

  .top-card {
    margin-bottom: 0;
    margin-left: 32px;
  }

  .card-text {
    margin-bottom: 45px;
  }

  .wrap-cards {
    margin-bottom: 0;
  }

  .tag-list {
    max-width: 281px;
    display: flex;
    flex-direction: column-reverse;
  }
}

@media screen and (min-width: 768px) {
  .tags {
    margin-bottom: 0;
    justify-content: flex-end;
  }
}

.hero-teg {
  padding: 12px 32px;
  width: 132px;
  height: 38px;
  border: 1px solid #ffffff;
  border-radius: 1000px;

  justify-content: center;
  text-align: center;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: #ffffff;
  text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
}

.low-card {
  background-color: #f5ce13;
}

@media only screen and (min-width: 768px) {
  .low-card {
    margin-right: 32px;
    margin-left: 0;
  }

  .hero-teg {
    width: auto;
  }
}

@media screen and (min-width: 1280px) {
  .hero-cards {
    align-items: flex-end;
  }

  .hero-container-deck {
    padding-top: 104px;
  }
}

@media screen and (min-width: 1280px) {
  .hero-container {
    position: relative;
    height: 948px;
    padding-top: 353px;
  }

  .background {
    position: absolute;
    left: 50%;
    top: 11%;
    transform: translatex(-50%);
  }
}

.low-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top-card {
  width: 100%;
}
