.hero {
  background: #ae1332;
}
.hero-container {
  padding-top: 104px;
}
@media screen and (min-width: 375px) and(max-width:767px) {
  .hero-container {
    /* width: 375px; */
  }
}

.background {
  position: relative;
  height: 509px;
  margin: auto;
  border-radius: 500px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../img/hero/hero-girl-tab@1.png);
  /* border-style: solid;
  border-width: rgba(255, 255, 255, 1) rgba(255, 255, 255, 0.44)
    rgba(255, 255, 255, 0); */
}

/* url(../img/hero/imagebananas-background-mob@1.png),
    url(../img/hero/imagestrawberry-background-mob@1.png) */
@media screen and (max-width: 374px) {
  .background {
    background-image: url(../img/hero/hero-girl-mob@1.png);
  }
}
/* @media only screen and (min-width: 768px) {
  .background {
    margin: auto;
    width: 486px;
    height: 742px;
  }
} */
.hero-text {
  position: absolute;
  top: -10%;
  left: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 1;

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.04em;
  text-transform: uppercase;
}
@media only screen and (min-width: 768px) {
  .hero-text {
    left: -22%;
    width: 704px;
    font-size: 50px;
    line-height: 1.08;
  }
  .background {
    width: 486px;
    height: 702px;
  }
}
@media only screen and (min-width: 1280px) {
  .hero-text {
    left: -47%;

    width: 898px;
    font-size: 64px;
    line-height: 1;
  }
  .background {
    width: 452px;
    height: 702px;
  }
}
.hero-btn {
  position: absolute;
  left: 38%;
  top: 93%;
  width: 80px;
  height: 80px;
  padding: 0;
  border: 0;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1;
  /* 
display: flex;
align-items: center;
text-align: center; */
  letter-spacing: -0.04em;
  text-transform: uppercase;

  color: #ae1332;

  text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
  transform: rotate(-14deg);
  border-radius: 50%;
  border-color: transparent;
}

@media only screen and (min-width: 768px) {
  .hero-btn {
    width: 114px;
    height: 114px;
    font-size: 28px;
  }
}

.hero-btn:hover {
  color: #a4cb66;
}
.hero-btn:focus {
  color: #a4cb66;
}
.hero-cards {
  max-width: 279px;
  margin: auto;
  margin-top: 71px;
}

.card-text {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  margin-bottom: 44px;

  display: flex;
  align-items: center;
  letter-spacing: -0.04em;

  color: #ffffff;

  text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
}
@media only screen and (min-width: 768px) {
  .card-text {
    width: 279px;
    margin-bottom: 45px;
  }
  .hero-cards {
    max-width: 704px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
  }
}

.top-card {
  background-color: #a4cb66;
  height: 387px;
  border-radius: 500px;
  padding: 28px 0px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* margin-bottom: 44px; */
}
@media only screen and (min-width: 768px) {
  .top-card {
    margin-left: 32px;
  }
  .tag-list {
    width: 281px;
    display: flex;
    flex-direction: column-reverse;
  }
  .low-card {
    margin-right: 34px;
    margin-left: 0;
  }
}
.top-card-text {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  /* padding: 28px 25px 40px; */
  /* display: flex; */
  align-items: center;
  text-align: center;
  letter-spacing: -0.04em;
  color: #ffffff;
  text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
}
.thamb-hero {
}
.hero-img {
  width: 239px;
  height: 172px;
  margin: auto;
}
.hero-imglow {
  height: 187px;
}
.low-card-text {
  width: 155px;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  /* display: flex; */
  /* align-items: center; */
  text-align: center;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: #ffffff;
  text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
  margin: auto;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 44px;
  margin-top: 44px;
  margin-bottom: 44px;
  gap: 8px;
  align-content: center;
  justify-content: center;
  padding-left: 0;
}
.hero-teg {
  padding: 12px 32px;
  width: 132px;
  height: 38px;
  border: 1px solid #ffffff;
  border-radius: 1000px;

  justify-content: center;
  text-align: center;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: #ffffff;
  text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
}

.low-card {
  background-color: #f5ce13;
}
@media only screen and (min-width: 768px) {
  .hero-text {
    width: auto;
  }
}
